<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Trung tâm đào tạo tiếng anh Nhóm 11</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="../assets/css/main.css" rel="stylesheet" />
</head>
<body class="landing">
    <!-- Header -->
    <header id="header" class="alt">
        <h1><strong><a href="index.html">nhóm 11</a></strong> Web nâng cao</h1>
        <nav id="nav">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="khoahoc.html">Khóa học</a></li>
                <li><a href="time.html">Lịch học</a></li>
                <li><a href="#">Đăng nhập</a></li>
                <li><a href="#">Đăng ký</a></li>
            </ul>
        </nav>
    </header>
    <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    <!-- Banner -->
    <section id="banner">
        <h2>Đào tạo tiếng Anh</h2>
        <p>Với mục tiêu đáp ứng đa dạng các nhu cầu học tập tiếng Anh<br /> Trung tâm đã và đang cung cấp những khóa đào tạo tiếng Anh từ cơ bản đến nâng cao.</p>
        <ul class="actions">
            <li><a href="#" class="button special big">Get Started</a></li>
        </ul>
    </section>
    <!-- One -->
    <section id="one" class="wrapper style1">
        <div class="container 75%">
            <div class="row 200%">
                <div class="6u 12u$(medium)">
                    <header class="major">
                        <img src="../images/ace_21-1-460x321.jpg" />
                    </header>
                </div>
                <div class="6u$ 12u$(medium)">
                    <p>Nhu cầu học tiếng Anh tại Việt Nam trong những năm gần đây, khi nước ta đang trong giai đoạn hội nhập quốc tế mạnh mẽ, là rất lớn. Kinh doanh quốc tế đã mang lại cho Việt Nam nhiều cơ hội để phát triển kinh tế. Tuy nhiên, việc này đồng nghĩa với chất lượng và trình độ của người lao động cần phải được nâng cao để đáp ứng các yêu cầu quốc tế. Ngoại ngữ, đặc biệt là Tiếng Anh đã thực sự trở thành một trong những yêu cầu không thể thiếu trong tuyển dụng, sắp xếp và bổ nhiệm nhân sự của đa số các công ty và tổ chức. Thực tế, sử dụng được tiếng Anh không chỉ mang lại những cơ hội trong làm việc, mà nó còn giúp mở mang kiến thức chuyên môn, xã hội, nâng cao tầm nhìn và chất lượng cuộc sống.</p>
                    <p> Với mục tiêu đáp ứng đa dạng các nhu cầu học tập tiếng Anh của các đối tượng học viên người lớn, Trung tâm đã và đang cung cấp những khóa đào tạo tiếng Anh từ cơ bản đến nâng cao cho các cá nhân và tổ chức, và được các khách hàng đánh giá cao về chất lượng giảng dạy, đặc biệt là chương trình đào tạo Tiếng Anh chuyên ngành, TOEIC, Giao tiếp và Ngữ Pháp. Trung tâm cũng đang cung cấp chương trình luyện thi chứng chỉ quốc tế khác như IELTS, TOEFL… cho các nhóm học viên, cá nhân có nhu cầu.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Two -->
    
    <!-- Three -->
    <section id="three" class="wrapper style1">
        <div class="container">
            <header class="major special">
                <h2>Có nhiều khóa học trong năm</h2>
                <p>Mỗi khóa có 4 phần để rè luyện kỹ năng</p>
            </header>
            <div class="feature-grid">
                <div class="feature">
                    <div class="image rounded"><img src="../images/pic11.jpg" alt="" /></div>
                    <div class="content">
                        <header>
                            <h4>WRITING</h4>
                            <p>rèn luyện kỹ năng viết</p>
                        </header>
                        <p>Phần này cung cấp thực hành viết để giúp bạn viết văn bản được kết nối đơn giản về các chủ đề quen thuộc được quan tâm cá nhân. Các văn bản bao gồm các bài viết diễn đàn, đánh giá, tin nhắn, bài tiểu luận và email ngắn.
                           Mỗi bài học có một nhiệm vụ chuẩn bị, một văn bản mô hình với các mẹo viết và ba nhiệm vụ để kiểm tra sự hiểu biết của bạn và thực hành nhiều kỹ năng viết khác nhau. Hãy bắt đầu ngay hôm nay..</p>
                    </div>
                </div>
                <div class="feature">
                    <div class="image rounded"><img src="../images/pic12.jpg" alt="" /></div>
                    <div class="content">
                        <header>
                            <h4>Reading</h4>
                            <p>rèn luyện kỹ năng đọc</p>
                        </header>
                        <p>Ở đây bạn có thể tìm thấy các hoạt động để thực hành kỹ năng đọc của bạn. Đọc sẽ giúp bạn cải thiện sự hiểu biết về ngôn ngữ và xây dựng vốn từ vựng của bạn.
                        Các bài học tự học trong phần này được viết và tổ chức theo các cấp độ của Khung tham chiếu chung Châu Âu cho các ngôn ngữ (CEFR). Có nhiều loại văn bản và bài tập tương tác khác nhau để rèn luyện các kỹ năng đọc bạn cần làm tốt trong học tập, để tiến lên trong công việc và giao tiếp bằng tiếng Anh trong thời gian rảnh.</p>
                    </div>
                </div>
                <div class="feature">
                    <div class="image rounded"><img src="../images/pic14.jpg" alt="" /></div>
                    <div class="content">
                        <header>
                            <h4>Listening</h4>
                            <p>rèn luyện kỹ năng nghe</p>
                        </header>
                        <p>Ở đây bạn có thể tìm thấy các hoạt động để thực hành kỹ năng nghe của bạn. Nghe sẽ giúp bạn cải thiện sự hiểu biết về ngôn ngữ và phát âm của bạn.
                        Các bài học tự học trong phần này được viết và tổ chức theo các cấp độ của Khung tham chiếu chung Châu Âu cho các ngôn ngữ (CEFR). Có những bản ghi 
                        các tình huống và bài tập tương tác khác nhau để rèn luyện các kỹ năng nghe bạn cần làm tốt trong học tập, để tiến lên trong công việc và giao tiếp bằng tiếng Anh trong thời gian rảnh. Các loa bạn sẽ nghe có quốc tịch khác nhau và các bản ghi âm được thiết kế để cho thấy tiếng Anh đang được sử dụng như thế nào trên thế giới ngày nay.</p>
                    </div>
                </div>
                <div class="feature">
                    <div class="image rounded"><img src="../images/pic13.png" alt="" /></div>
                    <div class="content">
                        <header>
                            <h4>Speaking</h4>
                            <p>rèn luyện kỹ năng nói</p>
                        </header>
                        <p>Ở đây bạn có thể tìm thấy các hoạt động để thực hành kỹ năng nói của bạn. Bạn có thể xem và nghe các video cho thấy tiếng Anh được sử dụng như thế nào trong các loại cuộc hội thoại khác nhau. Khi bạn nghe và nói to, bạn cũng sẽ cải thiện cách phát âm của mình.
                        Các bài học tự học trong phần này được viết và tổ chức theo các cấp độ của Khung tham chiếu chung Châu Âu cho các ngôn ngữ (CEFR). Các video và bài tập tương tác giúp bạn rèn luyện kỹ năng nói.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Four -->
    <section id="four" class="wrapper style3 special">
        <div class="container">
            <header class="major">
                <h2>Tham gia với chúng tôi</h2>
                <p>để được rèn luyện các kỹ năng với giáo viên nước ngoài</p>
            </header>
            <ul class="actions">
                <li><a href="#" class="button special big">Get in touch</a></li>
            </ul>
        </div>
    </section>
    
    <!-- Footer -->
    <footer id="footer">
        <div class="container">
            <ul class="icons">
                <li><a href="#" class="icon fa-facebook"></a></li>
                <li><a href="#" class="icon fa-twitter"></a></li>
                <li><a href="#" class="icon fa-instagram"></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; Untitled</li>
                <li>Design: <a href="http://templated.co">TEMPLATED</a></li>
                <li>Images: <a href="http://unsplash.com">Unsplash</a></li>
            </ul>
        </div>
    </footer>
    <!-- Scripts -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/main.js"></script>
    <script src="../assets/js/skel.min.js"></script>
    <script src="../assets/js/util.js"></script>
    </body>
</html>
